[submodule "mtransit-for-android"]
	path = mtransit-for-android
	url = git@github.com:mtransitapps/mtransit-for-android.git
[submodule "commons-android"]
	path = commons-android
	url = git@github.com:mtransitapps/commons-android.git
[submodule "ca-montreal-stm-subway-android"]
	path = ca-montreal-stm-subway-android
	url = git@github.com:mtransitapps/ca-montreal-stm-subway-android.git
[submodule "ca-montreal-stm-bus-android"]
	path = ca-montreal-stm-bus-android
	url = git@github.com:mtransitapps/ca-montreal-stm-bus-android.git
