[submodule "commons-android"]
	path = commons-android
	url = git://github.com/mtransitapps/commons-android.git
[submodule "mtransit-for-android"]
	path = mtransit-for-android
	url = git://github.com/mtransitapps/mtransit-for-android.git
[submodule "ca-banff-roam-transit-bus-android"]
	path = ca-banff-roam-transit-bus-android
	url = git://github.com/mtransitapps/ca-banff-roam-transit-bus-android.git
[submodule "ca-barrie-transit-bus-android"]
	path = ca-barrie-transit-bus-android
	url = git://github.com/mtransitapps/ca-barrie-transit-bus-android.git
[submodule "ca-brampton-transit-bus-android"]
	path = ca-brampton-transit-bus-android
	url = git://github.com/mtransitapps/ca-brampton-transit-bus-android.git
[submodule "ca-brandon-transit-bus-android"]
	path = ca-brandon-transit-bus-android
	url = git://github.com/mtransitapps/ca-brandon-transit-bus-android.git
[submodule "ca-burlington-transit-bus-android"]
	path = ca-burlington-transit-bus-android
	url = git://github.com/mtransitapps/ca-burlington-transit-bus-android.git
[submodule "ca-calgary-transit-bus-android"]
	path = ca-calgary-transit-bus-android
	url = git://github.com/mtransitapps/ca-calgary-transit-bus-android.git
[submodule "ca-calgary-transit-train-android"]
	path = ca-calgary-transit-train-android
	url = git://github.com/mtransitapps/ca-calgary-transit-train-android.git
[submodule "ca-central-fraser-valley-transit-system-bus-android"]
	path = ca-central-fraser-valley-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-central-fraser-valley-transit-system-bus-android.git
[submodule "ca-chambly-richelieu-carignan-citcrc-bus-android"]
	path = ca-chambly-richelieu-carignan-citcrc-bus-android
	url = git://github.com/mtransitapps/ca-chambly-richelieu-carignan-citcrc-bus-android.git
[submodule "ca-chilliwack-transit-system-bus-android"]
	path = ca-chilliwack-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-chilliwack-transit-system-bus-android.git
[submodule "ca-comox-valley-transit-system-bus-android"]
	path = ca-comox-valley-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-comox-valley-transit-system-bus-android.git
[submodule "ca-cornwall-transit-bus-android"]
	path = ca-cornwall-transit-bus-android
	url = git://github.com/mtransitapps/ca-cornwall-transit-bus-android.git
[submodule "ca-deux-montagnes-mrcdm-bus-android"]
	path = ca-deux-montagnes-mrcdm-bus-android
	url = git://github.com/mtransitapps/ca-deux-montagnes-mrcdm-bus-android.git
[submodule "ca-edmonton-ets-bus-android"]
	path = ca-edmonton-ets-bus-android
	url = git://github.com/mtransitapps/ca-edmonton-ets-bus-android.git
[submodule "ca-edmonton-ets-train-android"]
	path = ca-edmonton-ets-train-android
	url = git://github.com/mtransitapps/ca-edmonton-ets-train-android.git
[submodule "ca-fort-erie-transit-bus-android"]
	path = ca-fort-erie-transit-bus-android
	url = git://github.com/mtransitapps/ca-fort-erie-transit-bus-android.git
[submodule "ca-fraser-valley-express-bus-android"]
	path = ca-fraser-valley-express-bus-android
	url = git://github.com/mtransitapps/ca-fraser-valley-express-bus-android.git
[submodule "ca-fredericton-transit-bus-android"]
	path = ca-fredericton-transit-bus-android
	url = git://github.com/mtransitapps/ca-fredericton-transit-bus-android.git
[submodule "ca-gatineau-sto-bus-android"]
	path = ca-gatineau-sto-bus-android
	url = git://github.com/mtransitapps/ca-gatineau-sto-bus-android.git
[submodule "ca-grande-prairie-transit-bus-android"]
	path = ca-grande-prairie-transit-bus-android
	url = git://github.com/mtransitapps/ca-grande-prairie-transit-bus-android.git
[submodule "ca-grand-river-transit-bus-android"]
	path = ca-grand-river-transit-bus-android
	url = git://github.com/mtransitapps/ca-grand-river-transit-bus-android.git
[submodule "ca-gta-up-express-train-android"]
	path = ca-gta-up-express-train-android
	url = git://github.com/mtransitapps/ca-gta-up-express-train-android.git
[submodule "ca-gtha-go-transit-bus-android"]
	path = ca-gtha-go-transit-bus-android
	url = git://github.com/mtransitapps/ca-gtha-go-transit-bus-android.git
[submodule "ca-gtha-go-transit-train-android"]
	path = ca-gtha-go-transit-train-android
	url = git://github.com/mtransitapps/ca-gtha-go-transit-train-android.git
[submodule "ca-guelph-transit-bus-android"]
	path = ca-guelph-transit-bus-android
	url = git://github.com/mtransitapps/ca-guelph-transit-bus-android.git
[submodule "ca-halifax-transit-bus-android"]
	path = ca-halifax-transit-bus-android
	url = git://github.com/mtransitapps/ca-halifax-transit-bus-android.git
[submodule "ca-halifax-transit-ferry-android"]
	path = ca-halifax-transit-ferry-android
	url = git://github.com/mtransitapps/ca-halifax-transit-ferry-android.git
[submodule "ca-hamilton-hsr-bus-android"]
	path = ca-hamilton-hsr-bus-android
	url = git://github.com/mtransitapps/ca-hamilton-hsr-bus-android.git
[submodule "ca-haut-st-laurent-cithsl-bus-android"]
	path = ca-haut-st-laurent-cithsl-bus-android
	url = git://github.com/mtransitapps/ca-haut-st-laurent-cithsl-bus-android.git
[submodule "ca-joliette-ctjm-bus-android"]
	path = ca-joliette-ctjm-bus-android
	url = git://github.com/mtransitapps/ca-joliette-ctjm-bus-android.git
[submodule "ca-kamloops-transit-system-bus-android"]
	path = ca-kamloops-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-kamloops-transit-system-bus-android.git
[submodule "ca-kelowna-regional-transit-system-bus-android"]
	path = ca-kelowna-regional-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-kelowna-regional-transit-system-bus-android.git
[submodule "ca-kingston-transit-bus-android"]
	path = ca-kingston-transit-bus-android
	url = git://github.com/mtransitapps/ca-kingston-transit-bus-android.git
[submodule "ca-lanaudiere-crtl-bus-android"]
	path = ca-lanaudiere-crtl-bus-android
	url = git://github.com/mtransitapps/ca-lanaudiere-crtl-bus-android.git
[submodule "ca-la-presqu-ile-citpi-bus-android"]
	path = ca-la-presqu-ile-citpi-bus-android
	url = git://github.com/mtransitapps/ca-la-presqu-ile-citpi-bus-android.git
[submodule "ca-l-assomption-mrclasso-bus-android"]
	path = ca-l-assomption-mrclasso-bus-android
	url = git://github.com/mtransitapps/ca-l-assomption-mrclasso-bus-android.git
[submodule "ca-laurentides-citla-bus-android"]
	path = ca-laurentides-citla-bus-android
	url = git://github.com/mtransitapps/ca-laurentides-citla-bus-android.git
[submodule "ca-laval-stl-bus-android"]
	path = ca-laval-stl-bus-android
	url = git://github.com/mtransitapps/ca-laval-stl-bus-android.git
[submodule "ca-le-richelain-citlr-bus-android"]
	path = ca-le-richelain-citlr-bus-android
	url = git://github.com/mtransitapps/ca-le-richelain-citlr-bus-android.git
[submodule "ca-les-moulins-mrclm-bus-android"]
	path = ca-les-moulins-mrclm-bus-android
	url = git://github.com/mtransitapps/ca-les-moulins-mrclm-bus-android.git
[submodule "ca-london-transit-bus-android"]
	path = ca-london-transit-bus-android
	url = git://github.com/mtransitapps/ca-london-transit-bus-android.git
[submodule "ca-longueuil-rtl-bus-android"]
	path = ca-longueuil-rtl-bus-android
	url = git://github.com/mtransitapps/ca-longueuil-rtl-bus-android.git
[submodule "ca-maritime-bus-android"]
	path = ca-maritime-bus-android
	url = git://github.com/mtransitapps/ca-maritime-bus-android.git
[submodule "ca-milton-transit-bus-android"]
	path = ca-milton-transit-bus-android
	url = git://github.com/mtransitapps/ca-milton-transit-bus-android.git
[submodule "ca-mississauga-miway-bus-android"]
	path = ca-mississauga-miway-bus-android
	url = git://github.com/mtransitapps/ca-mississauga-miway-bus-android.git
[submodule "ca-moncton-codiac-transpo-bus-android"]
	path = ca-moncton-codiac-transpo-bus-android
	url = git://github.com/mtransitapps/ca-moncton-codiac-transpo-bus-android.git
[submodule "ca-montreal-amt-bus-android"]
	path = ca-montreal-amt-bus-android
	url = git://github.com/mtransitapps/ca-montreal-amt-bus-android.git
[submodule "ca-montreal-amt-train-android"]
	path = ca-montreal-amt-train-android
	url = git://github.com/mtransitapps/ca-montreal-amt-train-android.git
[submodule "ca-montreal-bixi-bike-android"]
	path = ca-montreal-bixi-bike-android
	url = git://github.com/mtransitapps/ca-montreal-bixi-bike-android.git
[submodule "ca-montreal-stm-bus-android"]
	path = ca-montreal-stm-bus-android
	url = git://github.com/mtransitapps/ca-montreal-stm-bus-android.git
[submodule "ca-montreal-stm-subway-android"]
	path = ca-montreal-stm-subway-android
	url = git://github.com/mtransitapps/ca-montreal-stm-subway-android.git
[submodule "ca-nanaimo-rdn-transit-system-bus-android"]
	path = ca-nanaimo-rdn-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-nanaimo-rdn-transit-system-bus-android.git
[submodule "ca-niagara-region-transit-bus-android"]
	path = ca-niagara-region-transit-bus-android
	url = git://github.com/mtransitapps/ca-niagara-region-transit-bus-android.git
[submodule "ca-oakville-transit-bus-android"]
	path = ca-oakville-transit-bus-android
	url = git://github.com/mtransitapps/ca-oakville-transit-bus-android.git
[submodule "ca-ottawa-oc-transpo-bus-android"]
	path = ca-ottawa-oc-transpo-bus-android
	url = git://github.com/mtransitapps/ca-ottawa-oc-transpo-bus-android.git
[submodule "ca-ottawa-oc-transpo-train-android"]
	path = ca-ottawa-oc-transpo-train-android
	url = git://github.com/mtransitapps/ca-ottawa-oc-transpo-train-android.git
[submodule "ca-prince-george-transit-system-bus-android"]
	path = ca-prince-george-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-prince-george-transit-system-bus-android.git
[submodule "ca-quebec-orleans-express-bus-android"]
	path = ca-quebec-orleans-express-bus-android
	url = git://github.com/mtransitapps/ca-quebec-orleans-express-bus-android.git
[submodule "ca-quebec-rtc-bus-android"]
	path = ca-quebec-rtc-bus-android
	url = git://github.com/mtransitapps/ca-quebec-rtc-bus-android.git
[submodule "ca-red-deer-transit-bus-android"]
	path = ca-red-deer-transit-bus-android
	url = git://github.com/mtransitapps/ca-red-deer-transit-bus-android.git
[submodule "ca-regina-transit-bus-android"]
	path = ca-regina-transit-bus-android
	url = git://github.com/mtransitapps/ca-regina-transit-bus-android.git
[submodule "ca-richelieu-citvr-bus-android"]
	path = ca-richelieu-citvr-bus-android
	url = git://github.com/mtransitapps/ca-richelieu-citvr-bus-android.git
[submodule "ca-roussillon-citrous-bus-android"]
	path = ca-roussillon-citrous-bus-android
	url = git://github.com/mtransitapps/ca-roussillon-citrous-bus-android.git
[submodule "ca-saskatoon-transit-bus-android"]
	path = ca-saskatoon-transit-bus-android
	url = git://github.com/mtransitapps/ca-saskatoon-transit-bus-android.git
[submodule "ca-shawinigan-rtcs-bus-android"]
	path = ca-shawinigan-rtcs-bus-android
	url = git://github.com/mtransitapps/ca-shawinigan-rtcs-bus-android.git
[submodule "ca-sherbrooke-sts-bus-android"]
	path = ca-sherbrooke-sts-bus-android
	url = git://github.com/mtransitapps/ca-sherbrooke-sts-bus-android.git
[submodule "ca-sorel-varennes-citsv-bus-android"]
	path = ca-sorel-varennes-citsv-bus-android
	url = git://github.com/mtransitapps/ca-sorel-varennes-citsv-bus-android.git
[submodule "ca-squamish-transit-system-bus-android"]
	path = ca-squamish-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-squamish-transit-system-bus-android.git
[submodule "ca-st-albert-transit-bus-android"]
	path = ca-st-albert-transit-bus-android
	url = git://github.com/mtransitapps/ca-st-albert-transit-bus-android.git
[submodule "ca-st-catharines-transit-bus-android"]
	path = ca-st-catharines-transit-bus-android
	url = git://github.com/mtransitapps/ca-st-catharines-transit-bus-android.git
[submodule "ca-ste-julie-omitsju-bus-android"]
	path = ca-ste-julie-omitsju-bus-android
	url = git://github.com/mtransitapps/ca-ste-julie-omitsju-bus-android.git
[submodule "ca-st-john-s-metrobus-transit-bus-android"]
	path = ca-st-john-s-metrobus-transit-bus-android
	url = git://github.com/mtransitapps/ca-st-john-s-metrobus-transit-bus-android.git
[submodule "ca-strathcona-county-transit-bus-android"]
	path = ca-strathcona-county-transit-bus-android
	url = git://github.com/mtransitapps/ca-strathcona-county-transit-bus-android.git
[submodule "ca-sudbury-transit-bus-android"]
	path = ca-sudbury-transit-bus-android
	url = git://github.com/mtransitapps/ca-sudbury-transit-bus-android.git
[submodule "ca-sud-ouest-citso-bus-android"]
	path = ca-sud-ouest-citso-bus-android
	url = git://github.com/mtransitapps/ca-sud-ouest-citso-bus-android.git
[submodule "ca-thunder-bay-transit-bus-android"]
	path = ca-thunder-bay-transit-bus-android
	url = git://github.com/mtransitapps/ca-thunder-bay-transit-bus-android.git
[submodule "ca-toronto-share-bike-android"]
	path = ca-toronto-share-bike-android
	url = git://github.com/mtransitapps/ca-toronto-share-bike-android.git
[submodule "ca-toronto-ttc-bus-android"]
	path = ca-toronto-ttc-bus-android
	url = git://github.com/mtransitapps/ca-toronto-ttc-bus-android.git
[submodule "ca-toronto-ttc-light-rail-android"]
	path = ca-toronto-ttc-light-rail-android
	url = git://github.com/mtransitapps/ca-toronto-ttc-light-rail-android.git
[submodule "ca-toronto-ttc-subway-android"]
	path = ca-toronto-ttc-subway-android
	url = git://github.com/mtransitapps/ca-toronto-ttc-subway-android.git
[submodule "ca-vancouver-translink-bus-android"]
	path = ca-vancouver-translink-bus-android
	url = git://github.com/mtransitapps/ca-vancouver-translink-bus-android.git
[submodule "ca-vancouver-translink-ferry-android"]
	path = ca-vancouver-translink-ferry-android
	url = git://github.com/mtransitapps/ca-vancouver-translink-ferry-android.git
[submodule "ca-vancouver-translink-train-android"]
	path = ca-vancouver-translink-train-android
	url = git://github.com/mtransitapps/ca-vancouver-translink-train-android.git
[submodule "ca-victoria-regional-transit-system-bus-android"]
	path = ca-victoria-regional-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-victoria-regional-transit-system-bus-android.git
[submodule "ca-welland-transit-bus-android"]
	path = ca-welland-transit-bus-android
	url = git://github.com/mtransitapps/ca-welland-transit-bus-android.git
[submodule "ca-west-coast-express-bus-android"]
	path = ca-west-coast-express-bus-android
	url = git://github.com/mtransitapps/ca-west-coast-express-bus-android.git
[submodule "ca-west-coast-express-train-android"]
	path = ca-west-coast-express-train-android
	url = git://github.com/mtransitapps/ca-west-coast-express-train-android.git
[submodule "ca-whistler-transit-system-bus-android"]
	path = ca-whistler-transit-system-bus-android
	url = git://github.com/mtransitapps/ca-whistler-transit-system-bus-android.git
[submodule "ca-whitehorse-transit-bus-android"]
	path = ca-whitehorse-transit-bus-android
	url = git://github.com/mtransitapps/ca-whitehorse-transit-bus-android.git
[submodule "ca-windsor-transit-bus-android"]
	path = ca-windsor-transit-bus-android
	url = git://github.com/mtransitapps/ca-windsor-transit-bus-android.git
[submodule "ca-winnipeg-transit-bus-android"]
	path = ca-winnipeg-transit-bus-android
	url = git://github.com/mtransitapps/ca-winnipeg-transit-bus-android.git
[submodule "ca-york-region-yrt-viva-bus-android"]
	path = ca-york-region-yrt-viva-bus-android
	url = git://github.com/mtransitapps/ca-york-region-yrt-viva-bus-android.git
[submodule "us-anchorage-people-mover-bus-android"]
	path = us-anchorage-people-mover-bus-android
	url = git://github.com/mtransitapps/us-anchorage-people-mover-bus-android.git

